* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
.overall-bg {
  background-color: #e7e1e1;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.bg-color {
  background-color: #f6f7f8;
  padding: 30px;
  margin: 40px;
  border: 1px solid rgb(210, 204, 204);
  width: fit-content;
}
.flex-overview {
  display: flex;
  justify-content: left;
  align-items: start;
  gap: 15px;
  padding-top: 6px;
}

/* Navbar section */
nav {
  display: flex;
  justify-content: space;
  background-color: #fff;
  border-radius: 40px;
  padding: 10px 5px 0px 5px;
  margin-bottom: 20px;
  overflow: hidden;
}
.patience {
  background-color: #01f0d0;
  padding: 5px;
  margin-top: -5px;
  border-radius: 15px;
}
.doctor {
  display: flex;
  gap: 10px;
  padding-top: 0px;
  text-align: right;
}
.name {
  height: 20px;
  display: flex;
}
.doc-image {
  width: 40px;
  height: 40px;
}
.doc-image1 {
  width: 30px;
  height: 30px;
}
.gear {
  border-right: 1px solid rgb(224, 220, 220);
  padding-right: 10px;
}
.gea {
  padding-top: 5px;
}
.logo-emoji {
  width: 120px;
}
.flexall {
  display: grid;
  grid-template-columns: 90% 10%;
  margin-top: 15px;
}
.search {
  float: right;
}
section {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
}

.jessica-section {
  text-align: center;
  padding-top: 20px;
}
.jessica-section img {
  width: 100px;
}
.grid-jesica {
  display: grid;
  grid-template-columns: 20% 80%;
}
.space-top {
  padding-top: 20px;
  font-size: small;
  text-align: left;
}
.info-pad {
  text-align: center;
  margin-top: 15px;
}
.section2 {
  background-color: #f6f7f8;
}
.middle-section {
  margin-top: 15px;
  padding-bottom: 15px;
}
.middle-section {
  text-align: left;
}
.table-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}
.small-marging {
  border-top: 1px solid rgb(220, 214, 214);
  padding-bottom: 15px;
}
.lab {
  margin-top: 15px;
}
.table2-grid {
  display: grid;
  grid-template-columns: 80% 20%;
  row-gap: 10px;
}
.left-aling {
  text-align: left;
  font-size: small;
}
.graph-section {
  background-color: #f4f0fe;
}
.grid-resporatory {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
}
.respiratory {
  background-color: #e0f3fa;
  text-align: left;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}

.resImageSize {
  width: 60px;
}
.respiratoryFont {
  font-size: 15px;
  padding: 15px 0px;
}
.temprature {
  background-color: #ffe6e9;
  text-align: left;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}
.heart-rate {
  background-color: #ffe6f1;
  text-align: left;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}
.systolic {
  background-color: #e66fd2;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}
.grid-systolic {
  display: flex;
  padding: 10px;
}
.padding10 {
  padding: 3px 5px 10px 5px;
  width: fit-content;
}
.graph-section {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 15px;
  text-align: left;
  border-radius: 8px;
  padding: 15px;
}
.diastolic {
  background-color: #8c6fe6;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
  padding-top: 10px;
}
.graph {
  width: 100%;
  height: 300px;
}
@media (max-width: 760px) {
  .bg-color {
    margin: 10px;
    padding: 8px;
    width: 100%;
  }
  * {
    font-size: 10px;
  }
 
}
@media (min-width: 760px) {
  .flex-section {
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
  }
  * {
    width: 100%;
    font-size: 12px;
  }
  .menubar {
    display: none;
  }
}